<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3" style="font-size:3.5rem; font-weight:700;">
            {{ 'home.digital-library' | translate }}
          </h1>
          <p class="lead" style="font-size:1.5rem; line-height:1.6;">
            {{ 'home.description.title' | translate }}
          </p>
        </div>
      </div>
      <ul style="font-size:1.2rem; line-height:1.6;">
        <li>{{'home.description.dublin-core-standard' | translate}}</li>
        <li>{{'home.description.accessibility-standard' | translate}}</li>
        <li>{{'home.description.reliable-link' | translate}}</li>
        <li>{{'home.description.open-environment' | translate}}</li>
        <li>{{'home.description.networking' | translate}}</li>
      </ul>
      <p style="font-size:1.2rem; line-height:1.6;">
        {{ 'home.description.summary' | translate }}
      </p>
    </div>
  </div>

  <picture class="background-image">
    <img alt="Custom Banner"
      src="https://res.cloudinary.com/dh7w9mvrq/image/upload/v1744577513/471306834_1312910153458292_2571871794578179435_n_w28hmt.jpg"
      style="width: 100%; height: auto; object-fit: cover;" />
  </picture>
</div>